.wrapper {
    background-color: #fff;
    position: absolute;
    top: 15%;
    left: 30%;
    height: 440px;
    width: 470px;
    border-radius: 30% 30% 30% 0;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.modal_header {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
}
.progress_bar_external {
    padding: 0.2rem 0.3rem;
    width: 15rem;
    height: 2rem;
    background-color: #ffcbd8;
    border: 1px solid #000;
    border-radius: 2rem;
    box-shadow: 3px 5px 0px #000;
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}
.progress_bar_interna_small {
    background-color: #E1245C;
    border-radius: 2rem;
    width: 10%;
    height: 1.3rem;
}
.progress_bar_interna_medium {
    background-color: #E1245C;
    border-radius: 2rem;
    width: 50%;
    height: 1.4rem;
}
.progress_bar_interna_full {
    background-color: #E1245C;
    border-radius: 2rem;
    width: 100%;
    height: 1.4rem;
}
.status {
    margin-bottom: 1.5rem;
    color: #E1245C;
    font-style: italic;
    font-weight: bold;
}
.modal__margin {
    margin: 1rem 0 2rem 0;
}
.dark_background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.705);
}
.data_amount {
    margin-left: 0.5rem;
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}
.data_from_and_to {
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 0px #000;
}
.close_button {
    position: absolute;
    top: 3rem;
    right: 3rem;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}